<!DOCTYPE html>
<html>
<head>
  <title>CurlTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div style="text-align: center">
	<iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/1zF9SJ?autoplay=1"></iframe>
	<br>
	<p>Sample Sign</p>
</div>

</body>

</html>
